html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ul,ol {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

img {
    vertical-align: middle;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

::-moz-selection {
    background: #231f20;
    color: #FFF;
}

::selection {
    background: #231f20;
    color: #FFF;
}

::-moz-selection {
    background: #231f20;
    color: #FFF;
}

@font-face {
    font-family: 'heydays';
    src: url(fonts/heydays.eot);
    src: url(fonts/heydays.eot?#iefix) format("embedded-opentype"),url(fonts/heydays.ttf) format("truetype"),url(fonts/heydays.woff) format("woff"),url(fonts/heydays.svg#heydays) format("svg");
    font-weight: 400;
    font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'heydays';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e600";
}

.icon-facebook:before {
    content: "\e601";
}

.icon-google-plus:before {
    content: "\e605";
}

.icon-vimeo:before {
    content: "\e606";
}

.icon-linkedin:before {
    content: "\e607";
}

.icon-map:before {
    content: "\e60a";
}

.icon-road:before {
    content: "\e60b";
}

.icon-minus:before {
    content: "\e60c";
}

.icon-plus:before {
    content: "\e60d";
}

.icon-spotify:before {
    content: "\e602";
}

.icon-instagram:before {
    content: "\e609";
}

.icon-menu:before {
    content: "\e603";
}

.icon-logo:before {
    content: "\e604";
}

.icon-arrow-up:before {
    content: "\e608";
}

.icon-arrow-down:before {
    content: "\e60e";
}

@font-face {
    font-family: "Univers LT W01 45 Light";
    src: url(fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?#iefix);
    src: url(fonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?#iefix) format("eot"),url(fonts/ecf89914-1896-43f6-a0a0-fe733d1db6e7.woff) format("woff"),url(fonts/7628f343-8c36-4707-9559-8feb86c0462f.ttf) format("truetype"),url(fonts/11b816e7-d678-48dd-bc75-560de9c19049.svg#11b816e7-d678-48dd-bc75-560de9c19049) format("svg");
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Univers LT W01 45 Light","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

a,button {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    text-decoration: none;
    color: #706d6e;
}

a:hover,button:hover {
    text-decoration: none;
    color: #231f20;
}

.black a,.black button {
    color: #b2b0b0;
}

.black a:hover,.black button:hover {
    color: #FFF;
}

.data-block {
    display: none !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

body {
    font-size: 1em;
    line-height: 1.35em;
}

h1,h2,.text-large {
    font-size: 1.35em;
    line-height: 1.35em;
}

.text-giant {
    font-size: 1.75em;
    line-height: 1.35em;
}

.inner {
    padding: 30px 30px 35px;
}

.inner-thumbnail {
    padding: 20px;
}

#drawer-toggle {
    padding: 20px;
    margin: 10px;
    z-index: 1100;
}

@media all and (min-width: 1921px) {
    body {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.75em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 2.2em;
        line-height: 1.35em;
    }

    .inner {
        padding: 45px 45px 50px;
    }

    #drawer-toggle {
        margin: 27px;
    }

    .inner-thumbnail {
        padding: 30px;
    }
}

@media all and (max-width: 1920px) and (min-width: 1721px) {
    body {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.55em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 2.2em;
        line-height: 1.35em;
    }

    .inner {
        padding: 40px 40px 45px;
    }

    #drawer-toggle {
        margin: 22px;
    }

    .inner-thumbnail {
        padding: 30px;
    }
}

@media all and (max-width: 1720px) and (min-width: 1421px) {
    body {
        font-size: 1.25em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.55em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 2.2em;
        line-height: 1.35em;
    }

    .inner {
        padding: 35px 35px 40px;
    }

    #drawer-toggle {
        margin: 16px;
    }
}

@media all and (max-width: 1420px) and (min-width: 1200px) {
    body {
        font-size: 1em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 2.2em;
        line-height: 1.35em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 1em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 1.75em;
        line-height: 1.35em;
    }

    .inner {
        padding: 25px 25px 30px;
    }

    #drawer-toggle {
        margin: 5px;
    }

    #drawer-toggle:hover {
        color: #FFF;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: .975em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 1.75em;
        line-height: 1.35em;
    }

    .inner {
        padding: 20px 20px 25px;
    }

    #drawer-toggle {
        margin: 0;
    }

    #drawer-toggle:hover {
        color: #FFF;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: .975em;
        line-height: 1.35em;
    }

    h1,h2,.text-large {
        font-size: 1.35em;
        line-height: 1.35em;
    }

    .text-giant {
        font-size: 1.75em;
        line-height: 1.35em;
    }

    .inner {
        padding: 15px 15px 20px;
    }

    #drawer-toggle {
        margin: 0;
        padding: 15px;
    }

    .inner-thumbnail {
        padding: 15px;
    }
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-family: "Univers LT W01 45 Light","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

input[type=text],input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
    font-family: "Univers LT W01 45 Light","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    padding: 10px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.post-edit-link {
    position: absolute;
    left: -9999px;
}

.filter-select {
    position: relative;
    float: left;
}

.filter-select .trigger {
    padding-right: 30px;
}

.filter-select select {
    font-size: 16px !important;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

a.social-block {
    color: #231f20;
    -webkit-transform: color .15s;
    -ms-transform: color .15s;
    transform: color .15s;
}

a.social-block i {
    text-align: center;
    font-size: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    background-color: transparent;
}

a.social-block:hover {
    color: #706d6e;
}

a.social-block .black {
    color: #FFF;
    background-color: #231f20;
}

a.social-block .black:hover {
    color: #b2b0b0;
}

.person {
    position: relative;
}

.person .text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-color: rgba(35,31,32,0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9231F20,endColorstr=#D9231F20);
    zoom: 1;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
}

.person .text-wrap h3 {
    margin-bottom: 1em;
}

.person .image-wrap img {
    width: 100%;
    height: auto;
}

html.no-touch .person:hover .text-wrap,html.no-js .person:hover .text-wrap {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}

#gmap {
    width: 100%;
    height: 100%;
    background: #231f20;
}

#gmap .map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gmap .map-controls {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#gmap .map-controls button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background: rgba(35,31,32,0.85);
    color: #FFF;
    font-family: Arial,Helvetica;
    float: left;
    cursor: pointer;
}

#gmap .map-controls button:hover {
    background: #231f20;
}

#gmap.maps-api-fail {
    background: url(../images/lowres/map-image.png) no-repeat center center;
}

#gmap.controls .map-controls {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}

.vjs-control-bar {
    display: none !important;
}

.video-play {
    border-radius: 6px;
    -webkit-transition-property: opacity,background-color;
    transition-property: opacity,background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 100;
    width: 65px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -20px;
    background-color: rgba(35,31,32,0.85);
    background-image: url(../images/lowres/video_controls.png);
    background-image: url(../images/svg/video_controls.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

.video-play:hover {
    background-color: #444041;
}

.video-play.invisible {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: 0;
    cursor: default;
}

.video-play.playing {
    background-position: bottom left;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35,31,32,0.9);
    z-index: 1000;
    display: none;
}

#modal .close {
    position: absolute;
    top: 40px;
    right: 40px;
}

#modal .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100px;
    margin-left: -200px;
    margin-top: -50px;
}

#modal input[type=text],#modal input[type=password] {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.scrollbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    -webkit-backface-visibility: none;
    backface-visibility: none;
}

.scrollbox .scrollbox-ratio {
    display: block;
    width: 100%;
}

.scrollbox .scrollbox-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
}

.scrollbox .scrollbox-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    -webkit-backface-visibility: none;
    backface-visibility: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.blockcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-wrap {
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.block-text p {
    margin-bottom: 1em;
}

.block-text h1,.block-text h2,.block-text h3 {
    margin-bottom: 1em;
}

a,input,button {
    -ms-touch-action: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #231f20 inset;
    -webkit-text-fill-color: #838B95 !important;
}

html.oldie body {
    min-width: 960px;
}

body,html {
    width: 100%;
    height: 100%;
}

.browsehappy {
    font-size: 12px;
    background-color: #231f20;
    color: #FFF;
    padding: 5px;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    display: block;
    text-align: center;
}

.loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.loader-wrap #loader {
    display: none;
}

.loader-wrap #loader.loading {
    display: block;
}

.photo-credit {
    line-height: 1.35em;
}

.photo-credit a {
    color: #231f20;
}

.photo-credit a:hover {
    color: #FFF;
}

#wrap {
    position: relative;
    top: 0;
    left: 0;
}

.text-center {
    text-align: center;
}

.black {
    background-color: #231f20;
    color: #FFF;
}

.project-title {
    color: #231f20;
}

.project-title.invert {
    color: #FFF;
}

.videoloader,.video-container {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.videoloader iframe,.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.videoloader {
    position: absolute;
    top: 0;
    left: 0;
}

.video-container {
    background: #231f20;
}

.video-container img {
    opacity: .9;
    -moz-opacity: .9;
    -webkit-opacity: .9;
    filter: alpha(opacity=90);
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.block-featured a {
    display: block;
    line-height: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.block-featured a .project-title {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.25em;
}

.text-container h3,.text-container p {
    margin-bottom: 1em;
}

@-webkit-keyframes loadanim {
    0% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes loadanim {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

body {
    background-color: #FFF;
}

#overlay {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #231f20;
    z-index: 3;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
}

#branding {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#branding a {
    color: #b2b0b0;
}

#branding a:hover {
    color: #FFF;
}

#drawer-toggle {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    top: 0;
    right: 0;
    line-height: inherit;
}

.ipiss-imagefix {
    background-position: center center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#heydays {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    width: 70px;
    height: 140px;
    margin-top: -70px;
    margin-left: -35px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/svg/heydays_logo_h.png);
    background-image: url(../images/svg/heydays_logo_h.svg),none;
    pointer-events: none;
}

#heydays.loading {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}

#container {
    width: 100%;
}

#container.transitions {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#main {
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 4;
    overflow: auto;
    background-color: #231f20;
    -webkit-overflow-scrolling: touch;
}

#sidebar .container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

html.csstransforms.csstransitions #sidebar {
    right: 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate(100%,0,0);
    -ms-transform: translate(100%,0,0);
    transform: translate(100%,0,0);
}

html.csstransforms.csstransitions #sidebar.no-anim {
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

html.csstransforms.csstransitions #sidebar.open {
    -webkit-transform: translate(0,0,0);
    -ms-transform: translate(0,0,0);
    transform: translate(0,0,0);
}

html.csstransforms3d.csstransitions #sidebar {
    right: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

html.csstransforms3d.csstransitions #sidebar.open {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.no-anim {
    -webkit-transition-duration: 0 !important;
    transition-duration: 0 !important;
}

body.sidebar-open #overlay {
    cursor: url(../images/lowres/cursor-close.png),auto;
}

body.error404 {
    background: #231f20 url(../images/lowres/heydays_logo_404.png) no-repeat center center;
}

body.error404 #drawer-toggle:hover {
    color: #FFF;
}

body.error404 .black {
    background-color: transparent;
}

body.error404 .main-menu .ajaxload a {
    color: #FFF;
}

.project.focus {
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    filter: alpha(opacity=50);
}

body.maintenance503 {
    background-color: #231f20;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/lowres/h_503.png);
    background-image: url(../images/svg/h_503.svg),none;
}

body.maintenance503 .black {
    background-color: transparent;
}

body.maintenance503 p {
    margin-bottom: 1em;
}

#sidebar ul li {
    position: relative;
    overflow: hidden;
}

#sidebar ul li .image-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

#sidebar ul li .title-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#sidebar ul li .title-wrap .project-title {
    line-height: 1.25em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

#sidebar ul li.current-menu-item .title-wrap {
    background-color: transparent;
    background-color: rgba(35,31,32,0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9231F20,endColorstr=#D9231F20);
    zoom: 1;
}

#sidebar ul li.current-menu-item .title-wrap .project-title {
    color: #FFF;
}

html.no-touch #sidebar ul li a.project-link:hover .title-wrap,html.no-js #sidebar ul li a.project-link:hover .title-wrap {
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    background-color: transparent;
    background-color: rgba(255,255,255,0.55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8CFFFFFF,endColorstr=#8CFFFFFF);
    zoom: 1;
}

html.no-touch #sidebar ul li a.project-link:hover .title-wrap .project-title,html.no-js #sidebar ul li a.project-link:hover .title-wrap .project-title {
    color: #231f20;
}

.anchor {
    cursor: pointer;
}

.main-menu ul {
    float: right;
}

.main-menu ul.menu-list>li {
    float: left;
    margin-left: 40px;
    position: relative;
}

.main-menu ul.menu-list>li a,.main-menu ul.menu-list>li .anchor {
    display: block;
    margin: 0;
}

.main-menu ul.menu-list>li .hidden {
    opacity: 0;
}

.main-menu ul.menu-list>li.drawer-toggle {
    opacity: 0;
    font-size: 16px;
}

.main-menu ul.menu-list>li ul.children {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.main-menu ul.menu-list>li:hover ul.children {
    display: block;
}

.main-menu li.current-menu-item a {
    color: #231f20;
}

.main-menu .ajaxload a {
    color: #231f20;
}

#page-title {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.black .main-menu li.current-menu-item a {
    color: #FFF;
}

.black .main-menu .ajaxload a {
    color: #FFF;
}

.project-filters ul {
    float: right;
    padding-right: 56px;
}

.project-filters ul li {
    float: left;
    margin-left: 40px;
}

.project-filters ul li.current-menu-item a {
    color: #FFF;
}

#drawer-toggle {
    font-size: 16px;
}

body.sidebar-open #drawer-toggle:hover {
    color: #FFF;
}

.block-featured .project-title {
    z-index: 3;
    width: 100%;
    height: 100%;
}

.block-featured:hover {
    z-index: 1000;
}

.hfader img.lazy {
    width: 100%;
    height: auto;
}

.hfader img.img-secondary {
    position: absolute;
    top: 0;
    left: 0;
}

.hfader .image-visible {
    z-index: 2;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}

.hfader .image-next {
    z-index: 1;
    -webkit-perspective: 1000;
}

.hfader .image-queued {
    z-index: -1;
    display: none;
    -webkit-perspective: 1000;
}

.col {
    position: relative;
}

.col:before {
    content: "";
    display: block;
    height: 0;
}

.cwrap {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    background: #FFF;
    top: 0;
    left: 0;
    -webkit-perspective: 1000;
    perspective: 1000px;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
}

.cwrap.black {
    background: #231f20;
}

.cwrap .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

html.js #main .cwrap {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
}

html.js #main .block-loaded .cwrap {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}

html.no-js .block img.lazy {
    display: none;
}

html.no-js .block img {
    width: 100%;
    height: auto;
}

.mobile-only,.tablet-only {
    display: none;
}

.seo-hidden {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
}

.grid {
    zoom: 1;
}

.grid:before,.grid:after {
    content: "";
    display: table;
}

.grid:after {
    clear: both;
}

.col {
    float: left;
    display: block;
    position: relative;
}

.col.float-right {
    float: right;
}

.base-auto {
    width: auto;
}

.base-full {
    width: 100%;
}

.base-one-half {
    width: 50%;
}

.base-one-third {
    width: 33.333%;
}

.base-one-quarter {
    width: 25%;
}

.base-hidden {
    display: none;
    height: 0;
    width: 0;
}

.base-only {
    display: block;
}

.base-grid-16x10:before {
    padding-top: 62.5%;
}

.base-grid-8x10:before {
    padding-top: 125%;
}

.base-grid-16x5:before {
    padding-top: 31.25%;
}

.base-grid-16x15:before {
    padding-top: 93.75%;
}

.base-grid-kill .cwrap,.base-grid- .cwrap {
    position: relative;
}

.base-grid-kill .cwrap .bottom,.base-grid- .cwrap .bottom {
    position: relative;
    bottom: auto;
}

.base-grid-kill.image-container,.base-grid-.image-container {
    line-height: 0;
}

.base-grid-kill.image-container img.lazy,.base-grid-.image-container img.lazy {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.base-grid-kill.image-container .cwrap .bottom,.base-grid-.image-container .cwrap .bottom {
    position: absolute;
    bottom: 0;
}

.base-grid-kill .image-wrap,.base-grid- .image-wrap {
    height: auto;
    position: relative !important;
}

.base-grid-kill .image-wrap img,.base-grid- .image-wrap img {
    width: 100%;
    height: auto;
}

.base-grid-kill:before,.base-grid-:before {
    padding: 0;
    content: "";
    display: none;
}

body:after {
    display: block;
    content: "normal";
}

@media all and (min-width: 1921px) {
    body:after {
        display: block;
        content: "supergiant";
    }
}

@media all and (max-width: 1920px) and (min-width: 1721px) {
    body:after {
        display: block;
        content: "giant";
    }
}

@media all and (max-width: 1720px) and (min-width: 1421px) {
    .xlarge-auto {
        width: auto;
    }

    .xlarge-full {
        width: 100%;
    }

    .xlarge-one-half {
        width: 50%;
    }

    .xlarge-one-third {
        width: 33.333%;
    }

    .xlarge-one-quarter {
        width: 25%;
    }

    .xlarge-hidden {
        display: none;
        height: 0;
        width: 0;
    }

    .xlarge-only {
        display: block;
    }

    .xlarge-grid-16x10:before {
        padding-top: 62.5%;
    }

    .xlarge-grid-8x10:before {
        padding-top: 125%;
    }

    .xlarge-grid-16x5:before {
        padding-top: 31.25%;
    }

    .xlarge-grid-16x15:before {
        padding-top: 93.75%;
    }

    .xlarge-grid-kill .cwrap,.xlarge-grid- .cwrap {
        position: relative;
    }

    .xlarge-grid-kill .cwrap .bottom,.xlarge-grid- .cwrap .bottom {
        position: relative;
        bottom: auto;
    }

    .xlarge-grid-kill.image-container,.xlarge-grid-.image-container {
        line-height: 0;
    }

    .xlarge-grid-kill.image-container img.lazy,.xlarge-grid-.image-container img.lazy {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .xlarge-grid-kill.image-container .cwrap .bottom,.xlarge-grid-.image-container .cwrap .bottom {
        position: absolute;
        bottom: 0;
    }

    .xlarge-grid-kill .image-wrap,.xlarge-grid- .image-wrap {
        height: auto;
        position: relative !important;
    }

    .xlarge-grid-kill .image-wrap img,.xlarge-grid- .image-wrap img {
        width: 100%;
        height: auto;
    }

    .xlarge-grid-kill:before,.xlarge-grid-:before {
        padding: 0;
        content: "";
        display: none;
    }

    body:after {
        display: block;
        content: "xlarge";
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .tablet-auto {
        width: auto;
    }

    .tablet-full {
        width: 100%;
    }

    .tablet-one-half {
        width: 50%;
    }

    .tablet-one-third {
        width: 33.333%;
    }

    .tablet-one-quarter {
        width: 25%;
    }

    .tablet-hidden {
        display: none;
        height: 0;
        width: 0;
    }

    .tablet-only {
        display: block;
    }

    .tablet-grid-16x10:before {
        padding-top: 62.5%;
    }

    .tablet-grid-8x10:before {
        padding-top: 125%;
    }

    .tablet-grid-16x5:before {
        padding-top: 31.25%;
    }

    .tablet-grid-16x15:before {
        padding-top: 93.75%;
    }

    .tablet-grid-kill .cwrap,.tablet-grid- .cwrap {
        position: relative;
    }

    .tablet-grid-kill .cwrap .bottom,.tablet-grid- .cwrap .bottom {
        position: relative;
        bottom: auto;
    }

    .tablet-grid-kill.image-container,.tablet-grid-.image-container {
        line-height: 0;
    }

    .tablet-grid-kill.image-container img.lazy,.tablet-grid-.image-container img.lazy {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .tablet-grid-kill.image-container .cwrap .bottom,.tablet-grid-.image-container .cwrap .bottom {
        position: absolute;
        bottom: 0;
    }

    .tablet-grid-kill .image-wrap,.tablet-grid- .image-wrap {
        height: auto;
        position: relative !important;
    }

    .tablet-grid-kill .image-wrap img,.tablet-grid- .image-wrap img {
        width: 100%;
        height: auto;
    }

    .tablet-grid-kill:before,.tablet-grid-:before {
        padding: 0;
        content: "";
        display: none;
    }

    .tablet-only {
        display: block;
    }

    #gmap .map-controls {
        display: none;
    }

    .person .image-wrap {
        width: 50%;
        position: relative;
        overflow: hidden;
        float: left;
    }

    .person .text-wrap {
        width: 50%;
        position: static;
        float: left;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        filter: alpha(opacity=100);
    }

    .person .bottom {
        width: 50%;
        left: auto;
        right: 0;
    }

    .person .text-wrap,.person .inner {
        color: #231f20;
        background-color: #FFF;
    }

    .person .text-wrap a:hover,.person .inner a:hover {
        color: #231f20;
    }

    body:after {
        display: block;
        content: "tablet";
    }
}

@media only screen and (max-width: 767px) {
    .mobile-auto {
        width: auto;
    }

    .mobile-full {
        width: 100%;
    }

    .mobile-one-half {
        width: 50%;
    }

    .mobile-one-third {
        width: 33.333%;
    }

    .mobile-one-quarter {
        width: 25%;
    }

    .mobile-hidden {
        display: none;
        height: 0;
        width: 0;
    }

    .mobile-only {
        display: block;
    }

    .mobile-grid-16x10:before {
        padding-top: 62.5%;
    }

    .mobile-grid-8x10:before {
        padding-top: 125%;
    }

    .mobile-grid-16x5:before {
        padding-top: 31.25%;
    }

    .mobile-grid-16x15:before {
        padding-top: 93.75%;
    }

    .mobile-grid-kill .cwrap,.mobile-grid- .cwrap {
        position: relative;
    }

    .mobile-grid-kill .cwrap .bottom,.mobile-grid- .cwrap .bottom {
        position: relative;
        bottom: auto;
    }

    .mobile-grid-kill.image-container,.mobile-grid-.image-container {
        line-height: 0;
    }

    .mobile-grid-kill.image-container img.lazy,.mobile-grid-.image-container img.lazy {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .mobile-grid-kill.image-container .cwrap .bottom,.mobile-grid-.image-container .cwrap .bottom {
        position: absolute;
        bottom: 0;
    }

    .mobile-grid-kill .image-wrap,.mobile-grid- .image-wrap {
        height: auto;
        position: relative !important;
    }

    .mobile-grid-kill .image-wrap img,.mobile-grid- .image-wrap img {
        width: 100%;
        height: auto;
    }

    .mobile-grid-kill:before,.mobile-grid-:before {
        padding: 0;
        content: "";
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .head-wrap .tablet-only {
        float: left;
    }

    .head-wrap .tablet-only .menu-list>li {
        margin-left: 0 !important;
        margin-right: 15px;
    }

    .person .image-wrap {
        width: 50%;
        position: relative;
        overflow: hidden;
        float: left;
    }

    .person .text-wrap {
        width: 50%;
        position: static;
        float: left;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        filter: alpha(opacity=100);
    }

    .person .bottom {
        width: 50%;
        left: auto;
        right: 0;
    }

    .person.odd .text-wrap,.person.odd .inner {
        color: #231f20;
        background-color: #FFF;
    }

    .person.odd .text-wrap a:hover,.person.odd .inner a:hover {
        color: #231f20;
    }

    .block-vimeo img.lazy {
        width: 100%;
        height: auto;
    }

    #gmap .map-controls {
        display: none;
    }

    body:after {
        display: block;
        content: "mobile";
    }

    .next-project {
        text-align: left !important;
    }
}

@media only screen and (max-width: 480px) {
    .tiny-auto {
        width: auto;
    }

    .tiny-full {
        width: 100%;
    }

    .tiny-one-half {
        width: 50%;
    }

    .tiny-one-third {
        width: 33.333%;
    }

    .tiny-one-quarter {
        width: 25%;
    }

    .tiny-hidden {
        display: none;
        height: 0;
        width: 0;
    }

    .tiny-only {
        display: block;
    }

    .tiny-grid-16x10:before {
        padding-top: 62.5%;
    }

    .tiny-grid-8x10:before {
        padding-top: 125%;
    }

    .tiny-grid-16x5:before {
        padding-top: 31.25%;
    }

    .tiny-grid-16x15:before {
        padding-top: 93.75%;
    }

    .tiny-grid-kill .cwrap,.tiny-grid- .cwrap {
        position: relative;
    }

    .tiny-grid-kill .cwrap .bottom,.tiny-grid- .cwrap .bottom {
        position: relative;
        bottom: auto;
    }

    .tiny-grid-kill.image-container,.tiny-grid-.image-container {
        line-height: 0;
    }

    .tiny-grid-kill.image-container img.lazy,.tiny-grid-.image-container img.lazy {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .tiny-grid-kill.image-container .cwrap .bottom,.tiny-grid-.image-container .cwrap .bottom {
        position: absolute;
        bottom: 0;
    }

    .tiny-grid-kill .image-wrap,.tiny-grid- .image-wrap {
        height: auto;
        position: relative !important;
    }

    .tiny-grid-kill .image-wrap img,.tiny-grid- .image-wrap img {
        width: 100%;
        height: auto;
    }

    .tiny-grid-kill:before,.tiny-grid-:before {
        padding: 0;
        content: "";
        display: none;
    }

    .block-text .cwrap {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

body:after {
    display: none;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

img.lazy {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
}

img.lazy.loaded {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}
